scipy==1.2.0
setuptools==40.6.3
featuretools==0.5.1
statsmodels==0.9.0
pandas==0.24.1
pydotplus==2.0.2
sklearn_pandas==1.8.0
matplotlib==3.0.2
seaborn==0.9.0
nbimporter==0.3.1
graphviz==0.10.1
numpy==1.15.4
ipython==7.2.0
scikit_learn==0.20.2
atlas==0.27.0
